.startPage{
  background-image: url(./images/spaceBg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.css_typing{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.css_typing p {
  color: white;
  border-right: .15em solid orange;
  font-family: fantasy;
  font-size: 15vh;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  margin: 1rem 0 0 0;
}

.css_typing p:nth-child(1) {
  width: 6em;
  animation: type 2s steps(50, end);
  animation-fill-mode: forwards;
}

.test p {
  margin-top: 1rem;
  font-size: 4.5vh;
  color: white;
  font-family: fantasy;
  text-align: center;
  animation: fadein 10s;
}

.howto{
  font-size: xx-large;
  font-family: "Courier";
}

.fe_pulse {
  color: #C0C0C0;
  font-size: 15vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  animation-name: pulse;
  animation-duration: 3s;
  background-color: transparent;
  animation-iteration-count: infinite;
  text-decoration: none;
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.85); }
  to { transform: scale(1); }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}